a, a:hover,
a:not(.md-button):hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.btn {
    display: inline-block;
    outline: none;
    padding: 5px;
    background: transparent;
    cursor: pointer;
    transition: all .3s;
}
p {
  color: #cecece;
  margin: 0 0 15px;
  &.error-tip {
    position: absolute;
    top: 100%;
    display: inline-block;
    left: 0;
    font-size: 10px;
    background: #ff5252;
    width: 100%;
    border-radius: 0 0px 4px 4px;
    text-align: left;
    padding: 0 15px;
  }
}